<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PUBG Stats</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'mapper/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mapper/css/main.css' %}">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#mapSelect').on('change', function() {
               var str = this.value;
               var src = $('#mapWrapperImg').attr('src');
               var alt = $('#mapWrapperImg').attr('alt');
               $('#mapWrapperImg').attr('src',alt);
               $('#mapWrapperImg').attr('alt',src);
            })

        })

    </script>
</head>
<body class="pubg">
    <div class="container">
        <div class="row" id='header'>
            <a href="/"><h4>PUBG Stats</h4></a>
            <nav>
                <ul class="main-menu">
                    <li><a class = "btn btn-light btn-outline-light"href="/players" id ="navLinks" role='button'>PLAYERS</a></li>
                    <li><a class = "btn btn-light btn-outline-light"href="/maps" id ="navLinks" role='button'>MAPS</a></li>
                </ul>
            </nav>
        </div>

        <div class="row" id = 'wrapper'>
            <div class='col-4' id='leftContent'>
                <form action='/maps' method='post'>
                        {% csrf_token %}
                        <label for="mapSelect">Map:</label><br>
                        <select  id="mapSelect" class="custom-select custom-select-sm platformSelect" name="mapSelect">
                            <option value="Erangel">Erangel</option>
                            <option value="Miramar">Miramar</option>
                        </select><br>
                        <label for="eventSelect">Select Event:</label><br>
                        <select class="custom-select custom-select-sm platformSelect" name="eventSelect">
                            <option value="2">K/D Mapping</option>
                            <option value="1">Landing zones</option>
                            <option value="2">Final Circles</option>
                            <option value="2">Red Zones</option>
                            <option value="2">Winner Landing Zones</option>
                        </select><br>
                        <label for="platformSelect">Select a platform:</label><br>
                        <select class="custom-select custom-select-sm platformSelect" name="platformSelect">
                            <option value="1">PC</option>
                            <option value="2">LameBOX</option>
                        </select><br>
                        <input class ="btn btn-light btn-outline-light" type="submit" name="submitPlayerSearch" value="Load">
                    </form>

            </div>
            <div class='col-8' id='rightContent'>
                <div class="mapWrapper">

                    <img id="mapWrapperImg" src="{% static 'mapper/images/testErangel.jpg' %}" alt="{% static 'mapper/images/testMiramar.jpg' %}" width="700" height="700">
                </div>
            </div>
        </div>
        <div class="row" id ="footer">
            <div class ="col-4"></div>
            <div class ="col-4">
                <div id="footerLogo"></div>
                <div><a href="https://developer.playbattlegrounds.com/apps?locale=en">Built with PUBG Develeper API</a></div>

            </div>
        </div>
    </div>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'mapper/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapper/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapper/js/bootstrap.min.js' %}"></script>        
</body>
</html>
